.nav-link.active {
    background-color: #0d6efd !important;
    /* Azul de Bootstrap */
    color: white !important;
    /* Cambia el color de la fuente a blanco */
}

/* Asegurarse de que los enlaces no activos tengan color blanco */
.nav-link {
    color: #fff !important;
    /* Asegura que el texto sea blanco */
}

.nav-link.active {
    background-color: #0d6efd !important;
    color: white !important;
}

.nav-link {
    color: #fff !important;
}

.navbarfl {

    padding-left: 280px;

}

footer{
    padding-left: 300px;
    padding-right: 20px;
    color: white;
}